@{
    ViewData["Title"] = "Sales Record";
}

<h1>Sales</h1>

<hr />

<div class="row">
    <form asp-action="SimpleSearching">
        <div class="col-2 mb-3">
            <label for="initial" class="col-form-label">Initial</label>
            <input type="date" id="initial" class="form-control">
        </div>
        <div class="col-2 mb-3">
            <label for="final" class="col-form-label">Final</label>
            <input type="date" id="final" class="form-control">
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>
